@charset "EUC-KR";
<style>
   body{
    background-color: #efefef;
   scrollbar-width: none;
    -ms-overflow-style: none;
   }
   table {
   width: 100%;
  /* border:2px solid #444444; */
}
.topicon {
   background-color: #2DB400;
   border: none;
   color: white;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   border-radius: 15px;
}
   h1{
   padding: 50px;
   }
   h2{
   font-size:3em;
   padding:0px 0px 0px 0px;
   text-align:center;
   
   }
   a{
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right:22px;
  border-radius: 12px;
  font-size:6em;
   }
   #inputid{
   width:30px;
   }
   .tex{
    width: 330px;
    height: 25px;
    margin: 4px 2px;
   border: none;
   padding: 10px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   border-radius: 12px;
    }
  .button {
  background-color: #2DB400;
  width: 330px;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 0px 0px 0px;
  cursor: pointer;
  border-radius: 12px;
}
   .dbutton{
  background-color: #2DB400;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
   }

</style>